/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f5f5f5;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #4da279;
  }
  
.imghead{
    width: 200px;
    padding-top: 11px;
    padding-bottom: 20px;
}
#hero{
    background-color: #f5f5f5;
}
#topbar{
    background-color: #333333;
}
.bac{
    background-color: #4da279;
    color: white;
    padding-left: 5px;
    padding-right: 6px;
    border-radius: 9px;
    padding-top: 1px;
    padding-bottom: 4px;
}
.h2a{
    line-height: 1.;
    margin-left: 105px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}    
.title{
    
    /* Center vertically */
    position: absolute;
    top: 35%;
}
#imga{
    padding-top: 30px;
}
.bline{
    border-bottom: 5px solid #4da279;
    width: 218px;
    display: block;
    border-radius: 3px;
    margin-left: 108px;
}
.blinea{
    border-bottom: 5px solid #4da279;
    width: 140px;
    display: block;
    margin: auto;
    border-radius: 3px;
}


#btna{
    border-radius: 12px;
    outline: none;
    width: 300px;
    height: 71px;
    margin-left: 108px;
    margin-top: 18px;
    color: white;
    background-color: #4da279;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 38px;
    box-shadow: 0px 2px 0px 2px #4da279;
}
#btnac{
    border-radius: 10px;
    outline: none;
    width: 320px;
    height: 76px;
    margin-top: 27px !important;
    color: white;
    background-color: #4da279;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    display: block;
    margin: auto;
    box-shadow: 0px 2px 0px 2px #4da279;

}
.subhead{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
padding-top: 90px;
}
.subheadd{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
padding-top: 60px;
}
.subheadz{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
padding-top: 60px;
font-size: 26px;
}
.subtt{
    text-align: center;
    font-size: 30px;
    padding-top: 24px;
}
.wimg{
    width: 173px;
}
.wwimg{
    width: 245px;
}
.h2w{
    color: #4da279;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    padding-top: 20px;
}
.ssb{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: #333333;
    font-size: 20px;
    line-height: 1;
    font-weight: bold;

}
#advantage{
    background-color: #f5f5f5;
    padding-bottom: 60px;
}
.wwi{
    width: 94px;
}
.wwa{
    width: 74px;
}
.wwz{
    width: 80px;
}
.wwia{
    width: 123px;
}
.azs{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    padding-top: 14px;
    /* font-weight: bold; */
}
#zz{
    padding-top: 23px;
}
#nnz{
    padding-top: 55px;
}
#footer{
    background-color: #333333;
    height: 66px;
}
.fp{
    color: white;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 20px;
}
/* ACCORDIN */
.accordion {
    border: 2px solid #4da279;
    outline: #4da279;
    display: block;
    margin: auto;
    background-color: #4da279;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 80%;
    outline: white;
    padding-top: 11px;
    font-size: 18px;
    height: 56px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    border-bottom: 4px solid white;
    outline: none;
    transition: 0.4s;
  }
   
  .panel {
    display: block;
    margin: auto;
    padding: 0 18px;
    display: none;
    width: 80%;
    overflow: hidden;
    background-color: #f5f5f5;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
   
}
.accordion:after {
    content: '+'; /* Unicode character for "plus" sign (+) */
    font-size: 30px;
    font-weight: bold;
    /* background-color: white; */
    float: right;
    margin-left: 5px;
    margin-top: -10px;
  }
  
  .active:after {
    content: "-"; /* Unicode character for "minus" sign (-) */
color: white;  
font-size: 30px;
font-weight: bold;
margin-top: -10px;
}
 .fap{
     font-size: 20px;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     padding-top: 6px;
     color: #1c1c1c;
         }

/* FORM */
.pof{
    display: flex;
}
#pointer {
    width: 200px;
    height: 40px;
    position: relative;
    background: #4da279;
  }
  #pointer:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
  #pointer:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid #4da279;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
  #pointeramb {
    width: 200px;
    height: 40px;
    display: none;
    position: relative;
    background: #4da279;
  }
  #pointeramb:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
  #pointeramb:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid #4da279;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
  #pointer1 {
    width: 200px;
    height: 40px;
    position: relative;
    background: #73c1b1;
  }
  #pointer1:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
height: 0;
border-left: 20px solid #4da279;
    
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
  #pointer1:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid red;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
  #pointer2 {
    width: 200px;
    height: 40px;
    position: relative;
    background: #84decb;
  }
  #pointer2:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
height: 0;
border-left: 20px solid #73c1b1;
    
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
  #pointer2:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid #73c1b1;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
  #pointer3 {
    width: 200px;
    height: 40px;
    position: relative;
    background: #9bead7;
  }
  #pointer3:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
height: 0;
border-left: 20px solid #84decb;
    
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
  #pointer3:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid #9bead7;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
  .aro1{
      color: white;
      text-align: center;
      margin-top: 7px;
  }
  .inp {
      width: 400px;
    border:none;
    border-bottom: 2px solid #4da279;
    padding: 5px 10px;
    outline: none;
 }

[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.4s 0.4s ease; 
    text-indent: -100%;
    opacity: 1;
 }
 ::placeholder{
     font-weight: bold;
 }
 .inpa {
    width: 280px;
  border:none;
  border-bottom: 2px solid #4da279;
  padding: 5px 10px;
  outline: none;
}
#btne{
    float: right;
    width: 155px;
    height: 36px;
    margin-top: 40px;
    background-color: #4ea27a !important;
    font-weight: bold;
}
#ffa{
    padding-bottom: 70px;
    padding-top: 40px;
}

.inpz {
    width: 220px;
  border:none;
  border-bottom: 2px solid #4da279;
  padding: 5px 10px;
  outline: none;
}
.inpaz {
    width: 230px;
  border:none;
  border-bottom: 2px solid #4da279;
  padding: 5px 10px;
  outline: none;
}
.form-select:focus{
    border-color: none !important;
    outline: 0;
    box-shadow: none !important;
}
.inpm{
    width: 730px;
  border:none;
  border-bottom: 2px solid #4da279;
  padding: 5px 10px;
  outline: none;
    
}
#imgfp{
margin-left: 115px;
}
.inpma{
    width: 200px;
  border:none;
  border-bottom: 2px solid #4da279;
  padding: 5px 10px;
  outline: none;
    
}
.inpma1{
    width: 150px;
  border:none;
  border-bottom: 2px solid #4da279;
  padding: 5px 10px;
  outline: none;
    
}
/* .activa{
    background: #4da279 !important;

}
.nactiva{
    background: #73c1b1 !important;

}
.nactiva :after{
    border-left: 20px solid #73c1b1 !important;

}
.activaz :after{
    border-left: 20px solid #4da279 !important;

} */
/* tabs */
#main2{
    display: block;
}
#main2{

    display: none;
}
#main3{

    display: none;
}
#main4{

    display: none;
}

/* tabs */

.inpma2{
    width: 100px;
  border:none;
  border-bottom: 2px solid #4da279;
  padding: 5px 10px;
  outline: none;
    
}
.inpz1 {
    width: 150px;
  border:none;
  border-bottom: 3px solid #4da279;
  padding: 5px 10px;
  outline: none;
}
@media (min-width:360px) and (max-width : 767px){
.inp ,.inpa ,.inpz , .inpaz,.inpm, .inpma, .inpma1,.inpz1,.inpma2{
    width: 331px;
    margin-top: 20px;
}
.subheadd{
    font-size: 24px;
}
#pointeramb{
    display: block;
    margin: auto;
}
#pointer, #pointer1,#pointer2,#pointer3{
    display: none;
} 
#btne{
    display: block;
    margin: auto;
    float: none;
    margin-top: 30px;
}
#imgfp{
    display: none;
}
.subheadz{
text-align: center;
}
#imga{
    display: none;
}
.imghead{
    display: block;
    margin: auto;
}
.title{
    position: initial;
padding-bottom: 41px;
}
#btna{
    width: 214px;
    height: 60px;
    font-size: 25px;
    margin-left: 0px;
    display: block;
    margin: auto;
    top: 30px;
    margin-top: 23px;
}
.h2a{
    margin-left: 40px;
    padding-top: 32px;
}
.bline{
    width: 251px;
    display: block;
    margin: auto;
}
.subhead{
    padding-top: 10px;
}
.subtt{
    font-size: 17px;
}
#btnac{
    width: 264px;
    height: 59px;
    font-size: 30px;
}
#ssz{
    padding-top: 60px;
}
.fp{
    font-size: 14px;
}
#footer{
    height: 61px;
}
.subhead{
    padding: 6px;
}
.accordion{
font-size: 14px;
}
.fap{
    font-size: 14px;
}
.azs{
    margin-bottom: 26px;
}
#nnz{
padding-top: 18px;
}
         }

         @media only screen 
and (min-width: 768px) and (max-width: 1200px) 
 {
.title{
    top:15%;
}
.h2a{
    margin-left: 31px;
}
#btna{
    margin-left: 31px;
}
.bline{
    width: 208px;
    margin-left: 33px;
}
.inp ,.inpa ,.inpz , .inpaz,.inpm, .inpma{
    width: 180px;
    margin-top: 20px;
}
.inpz1,.inpma2, .inpma1{
    width: 120px;
    margin-top: 20px;

}
.subheadd{
    font-size: 24px;
    padding-top: 160px;
}
#imgfp {
    margin-left: 42px;
    margin-top: 56px;
}
.formf{
        margin-top: 220px !important;
    
}

 }
 @media only screen 
and (min-width: 768px) and (max-width: 1023px) 
{
    .inp ,.inpa ,.inpz , .inpaz,.inpm {
        width: 180px;
        margin-top: 20px;
    }
    .inpz1,.inpma2, .inpma1 ,.inpma{
        width: 100px;
        margin-top: 20px;
    
    } 
    .h2a{
        font-size: 28px;
    }
    .bline{
        width: 165px;
        margin-left: 31px;
    }
    #btna{
        font-size: 31px;
        width: 251px;
        height: 65px;
    }
    .title{
        top: 16%;
    }
    .subtt {
    font-size: 21px;
    }
    #footer{
        height: 70px;
    }
}
